body {
	font-family: arial;
}

tr.dias {
	background-color: red;
}

.horas {
	background-color: #88AEF7; 
}

.table td {
	padding: 20px;
	padding-bottom: 60px;
}

.container {
	margin-left: 10px;
}

tr.dias2 {
	background-color: #646464;
}

.horas2,.martes2,.jueves2,.sabado2 {
	background-color: #EBEBEB;
}

tr.dias3 {
	background-color: #DC008F;
}

.horas3 {
	background-color: #609;
}

#table {
	padding: 0;
}

input {
	padding: 0;
	width: 10rem;
	height: 5rem;
	border: 0;
}

.table-bordered td,{
    border: 1px solid #dee2e6;
}