body {
	font-family: arial;
}

.table td {
	padding: 20px;
	padding-bottom: 60px;
}

.container {
	margin-left: 10px;
}

tr.dias2 {
	background-color: #646464;
}

.horas2,.martes2,.jueves2,.sabado2 {
	background-color: #EBEBEB;
}

#table {
	padding: 0;
}

input {
	padding: 0;
	width: 10rem;
	height: 5rem;
	border: 0;
}

.table-bordered td,{
    border: 1px solid #ddd;
}
#guardar:hover {
	background-color: #990909;
	border-color: black;
}

.horas input{
	color: #29AA7D;
}

.dias{
	color: #29AA7D

}

body{
	background-color: #ddd;
}
.dias {
	background-color: #fff;
}

tbody {
	background-color: #fff;
}

#tabla2 {
	margin: auto;
	text-align: center;
	width: 75%;
	-webkit-box-shadow: 12px 12px 10px #999;
	
}

#tabla2 td{
	width: 120px;
}

tr .dias {
	border-radius: 800px;
}

