body {
	font-family: arial;
}
.container {
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px; 
}

.row {
	margin: ;
}

ul {
	list-style:none;
}

#login {
	margin-left: 333px;
}

.btn {
	text-decoration: none;
	color: black;
}

a:hover {
	color: black
}

#index {
	background-image: url("https://image.freepik.com/vector-gratis/fondo-con-dibujos-de-escuela_23-2147496287.jpg");
	color: #5D5C5C;
}

#Up:hover,#In:hover {
background-color: #990909;
}

body {
	font-family: 'PT Sans Narrow', sans-serif;
}
